* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

p {
	color: #9B9595FF;
}

nav {
    background-color: black;
    display: flex;
}

.nav-logo h2, header h2 {
    text-transform: uppercase;
    color: #ff8b0c;
    font-weight: 300;
}

nav ul {
    list-style: none;
}

nav a {
    color: #9B9595FF;
    font-weight: 700;
}

nav a:hover {
    color: #c2c2c2;
}

nav span, header span {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

header {
    background-color: #9B9595FF;
    color: white;
}

header p {
    color: #dcdbd6;
}

header h3 {
    text-transform: uppercase;
    font-weight: 300;
}

.header-leftsection button {
    background-color: #9B9595FF;
    color: white;
    font-weight: 400;
}

.header-leftsection button:hover {
    background-color: #918B8BFF;
    border-color: #dddcd7;
}

#header-free {
    color: #ff8b0c;
}

.orange-button {
    background-color: #ff8b0c;
    color: white;
    border: none;
}

.orange-button:hover {
    background-color: #da7002;
}

.media {
	padding: 3vh 7%;
	display: flex;
}

.media img {
	width: 5vw;
	height: 5vw;
}

.tabs-section, .picture-section  {
    background-color: #fafafa;
    padding: 3% 7%;
}

.tabs-section-content {
    display: flex;
}

.tabs button {
		background-color: black;
		color: white;
		text-transform: uppercase;
		font-weight: 700;
		display: block;
}

.tabs button:first-child {
		background-color: #ff8b0c;
}	

.sublist-section {
	padding: 3% 7%;
}

.orange-line {
		width: 6vw;
        background-color: #ff8b0c;
        border-radius: 2px;
		border: 1px solid #ff8b0c;
        height: 3px;
	}


.awesome-section {
	padding: 3% 7%;
	display: flex;
	align-items: center;
}

.awesome-content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.awesome-toptext {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.awesome-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.awesome-box {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.awesome-section p, .awesome-section h3, h2 {
	text-align: center;
}

.awesome-section h2 {
	text-transform: uppercase;
	font-weight: 300;
}

	
@media (max-width: 800px) {
    p {
		font-size: 12px;
        line-height: 14px;
	}
	
	.orange-line {
		margin: 3vh auto;
		width: 30%;
	}
	
	nav {
        display: block;
        width: 100%;
    }

    .nav-logo {
        display: none;
    }

    .nav-ul {
        width: 100%;
    }

    .nav-ul ul {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    .nav-ul li {
        width: 100%;
        display: flex;
    }

    .nav-ul a {
        width: 100%;
        text-align: center;
        padding: 1vh 0;
        border-bottom: 1px solid #9B9595FF;
    }

    header {
        padding: 3% 7% 5% 7%;

    }

    .header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .header-leftsection {
        width: 70%;
        height: 45%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12vh;
		margin-top: 3vh;
    }

    header hr {
        width: 100%;
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
        height: 2px;
        box-shadow: 0 1px 2px #423F3FFF;
		margin: 2vh auto;
    }

    header h2 {
        font-size: 35px;
    }

    header h3 {
        font-size: 23px;
        text-align: center;
    }

    header p {
        text-align: center;
    }

    .header-leftsection button {
        border: 2px solid white;
        border-radius: 4px;
        width: 150px;
        max-width: 300px;
        height: 30px;
        max-height: 12vh;
        font-size: 15px;
		margin-top: 3vh;
    }

    .header-rightsection {
        max-height: 65%;
        max-width: 70%;
		width: 40vh;
		height: 40vh;
        background-color: white;
        border-radius: 5px;
		margin-bottom: 5vh;
    }

    .header-rightsection-text {
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e1dfdf;
    }

    .header-rightsection h4 {
        color: black;
        font-size: 14px;
    }

    .header-rightsection form {
        width: 100%;
        height: 88%;
    }

    .header-rightsection-form {
        height: 87%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-rightsection-form input {
        width: 86%;
        height: 15%;
        font-size: 13px;
        border: 0;
        border-bottom: 1px solid #e1dfdf;
        padding: 0 2%;
    }

    .header-rightsection-form input:focus {
        outline: none;
    }

    .header-rightsection-form input:focus::placeholder{
        opacity: 0;
        transition-duration: 0.5s;
    }

    .header-rightsection button {
        width: 100%;
        height: 14%;
        border-radius: 0 0 5px 5px;
        font-size: 15px;
    }
	
	.media {
		flex-flow: column nowrap;
	}
	
	
	.media-text h3 {
		font-size: 17px;
		text-align: center;
		margin-bottom: 1vh;
	}
	
	.media-text p {
		text-align: center;
	}
	
	.media-links {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}
	
	.media img {
		width: 7vh;
		height: 7vh;
		margin: 1vh;
	}
	
	.tabs-section-content {
		flex-direction: column;
		align-items: center;
	}
	
	.tabs {
		width: 80%;
		order: 2;
	}
	
	.tabs form{
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	
	.tabs button {
		height: 8vh;
		width: 8vh;
		max-height: 17vw;
		max-width: 17vw;
		margin: 1vh 2vw 2vh 2vw;
		font-size: 11px;
	}
	
	.tabs-section-text {
		order: 3;
		justify-content: center;
	}
	
	.tabs-section-text h3, .tabs-section-text p {
		text-align: center;
	}
	
	.tabs-section-text h3 {
		margin-bottom: 2vh;
		font-size: 17px;
	}
	
	.tabs-section-text p {
		margin-bottom: 1vh;
	}
	
	.tabs-section-text form {
		text-align: center;
	}
	
	.tabs-section-text button {
		margin: 3vh auto;
		border-radius: 4px;
        width: 120px;
        max-width: 270px;
        height: 30px;
        max-height: 12vh;
        font-size: 15px;
	}
	
	.tabs-section-image {
		width: 50%;
		order: 1;
	}
	
	.tabs-section-image img {
		width: 100%;
		height: auto;
	}
	
	.sublist-section img {
		height: 3vh;
		width: 3vh;
	}
	
	.sublist-section-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	
	.sublist-section-content-image {
		order: 2;
	}
	
	.sublist-section-content-text {
		order: 1;
	}
	
	.sublist-section-content-text h3, h5, p {
		text-align: center;
	}
	
	.sublist-section-content-subtext {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.sublist-section-content-subtext-text {
		order: 1;
		margin-top: 4vh;
	}
	
	.sublist-section-content-subtext-text p {
		margin: 1vh auto;
	}
	
	.sublist-section-content-subtext img {
		order: 2;
	}
	
	.picture-section, .sublist-section {
		min-height: 70vh;
	}
	
	.picture-section-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.picture-section-content-image, .sublist-section-content-image {
		width: 80%;
		height: 25vh;
		background-color: gray;
		margin: 4vh auto;
	}
	
	.picture-section-content-text h3 {
		font-size: 17px;
		font-weight: 700;
		text-align: center;
	}
	
	.picture-section-content-text p {
		margin: 2vh auto;
		text-align: center;
	}
	
	.awesome-section {
		min-height: 70vh;
	}
	
	.awesome-toptext h2 {
		font-size: 21px;
	}
	
	.awesome-toptext hr {
		margin: 2vh 0;
	}
	
	.awesome-container {
		flex-direction: column;
		margin-top: 4vh;
	}
	
	.awesome-box {
		margin: 2vh 0;
	}
	
	.awesome-box h3 {
		font-size: 17px;
		margin: 1vh 0;
	}
	
	.awesome-box img {
		height: 4vh;
		width: auto;
	}
	
}



@media (min-width: 801px) {
	
	.media-text {
		width: 35%;
	}
	
	.media-text h3 {
		margin-bottom: 0.7vh;
	}
	
	.media-links {
		width: 65%;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.tabs-section {
		min-height: 80vh;
		display: flex;
		align-items: center;
	}

    .tabs-section-content {
        align-items: center;
        justify-content: space-between;
    }
	
	.tabs button {
		max-width: 13vw;
		max-height: 13vw;
		width: 17vh;
		height: 17vh;
		margin: 1px;
	}
	
	.tabs button:hover {
		border: 3px solid #ff8b0c;
		transition-duration: 0.3s;
	}
	
	.tabs button:first-child:hover {
		background-color: #da7002;
		border: none;
	}

	.tabs-section-text {
		max-width: 45%;
		max-height: 43vw;
	}
	
	.tabs-section-text h3 {
		margin-bottom: 6vh;
		font-weight: 700;
	}
	
	.tabs-section-text p {
		margin-top: 3vh;
	}
	
	.tabs-section-text button {
		margin-top : 8vh;
	}
		
	
	.tabs-section-image {
		max-width: 30%;
	}
	
    .tabs-section-image img {
        width: 100%;
        height: auto;
    }
	
	.sublist-section {
		min-height: 80vh;
		display: flex;
		align-items: center;
	}
	
	.sublist-section-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		width: 100%;
	}
	
	.sublist-section-content-image {
		width: 35vw;
		height: 50vh;
		background-color: gray;
		box-shadow: 0 1px 20px -6px black;
	}
	
	.sublist-section-content-text {
		max-width: 50%;
		margin-left: 5vw;
	}
	
	.sublist-section-content-subtext {
		display: flex;
	}
	
	.sublist-section-content-subtext img {
		width: 3vw;
		height: 3vw;
	}
	
	.sublist-section-content-subtext-text {
		margin-left: 1vw;
	}
	
	.picture-section {
		display: flex;
		align-items: center;
	}
	
	.picture-section-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.picture-section h3 {
		font-weight: 700;
	}
	
	.picture-section-content-text {
		max-width: 50%;
		margin-right: 5vw;
	}
	
	.picture-section-content-image {
		width: 35vw;
		height: 50vh;
		background-color: gray;
		box-shadow: 0 1px 20px -6px black;
	}

	.awesome-section {
		min-height: 60vh; 
	}
	
	.awesome-toptext {
		margin-bottom: 14vh;
	}
	
	.awesome-box {
		margin: 0 1vw;
	}
	
	.awesome-box img {
		width: 4vw;
		height: auto;
	}
}
	



@media (min-width: 801px) and (max-width: 1100px) {
    p {
        font-size: 14px;
        line-height: 17px;
    }
	
	.orange-line {
		margin: 3vh 0;
	}
	
	nav {
        justify-content: flex-start;
        align-items: center;
    }

    .nav-logo {
        margin: 0 70px 0 40px;
    }

    .nav-logo h2 {
        font-size: 30px;
    }

    .nav-ul {
        width: 45%;
        margin: 0 auto;
    }

    .nav-ul ul {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-ul {
        font-size: 1em;
    }

    nav li {
        margin: 20px;
    }

    nav a {
        font-size: 14px;
    }

    header {
        height: 80vh;
        padding: 3% 7% 5% 7%;

    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 100%;
    }

    .header-leftsection {
        max-width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    header hr {
        width: 10%;
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
        height: 2px;
        box-shadow: 0 1px 2px #423F3FFF;
    }

    header h2 {
        font-size: 45px;
    }

    header h3 {
        font-size: 27px;
    }


    .header-leftsection button {
        border: 2px solid white;
        border-radius: 4px;
        width: 120px;
        max-width: 30%;
        height: 30px;
        max-height: 12vh;
        font-size: 15px;
    }

    .header-rightsection {
        height: 90%;
        width: 30%;
        background-color: white;
        border-radius: 5px;
    }

    .header-rightsection-text {
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e1dfdf;
    }

    .header-rightsection h4 {
        color: black;
        font-size: 16px;
    }

    .header-rightsection form {
        width: 100%;
        height: 88%;
    }

    .header-rightsection-form {
        height: 87%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-rightsection-form input {
        width: 86%;
        height: 15%;
        font-size: 15px;
        border: 0;
        border-bottom: 1px solid #e1dfdf;
        padding: 0 2%;
    }

    .header-rightsection-form input:focus {
        outline: none;
    }

    .header-rightsection-form input:focus::placeholder{
        opacity: 0;
        transition-duration: 0.5s;
    }

    .header-rightsection button {
        width: 100%;
        height: 14%;
        border-radius: 0 0 5px 5px;
        font-size: 16px;
    }
	
	.media h3, .tabs-section-text h3 {
		font-size: 16px;
	}
	
	.tabs-section-text button {
		border-radius: 4px;
        width: 100px;
        max-width: 28%;
        height: 30px;
        max-height: 12vh;
        font-size: 15px;
	}
	
	.sublist-section {
		min-height: 60vh;
	}
	
	.sublist-section-content-subtext h5 {
		font-size: 14px;
	}
	
	.sublist-section-content-subtext {
		margin: 2vh 0;
	}
	
	.picture-section h3, .sublist-section-content-text h3 {
		font-size: 16px;
	}
	
	.picture-section { 
		min-height: 60vh;
	}
	
	.picture-section-content-text hr, .sublist-section-content-text hr {
		margin: 3vh 0;
	}
	
	.picture-section-content-text p {
		margin: 3vh 0;
	}
	
	.picture-section-content-image, .sublist-section-content-image {
		width: 35vw;
		height: 35vh;
	}
	
	.awesome-box h3 {
		margin: 1vh 0;
		font-size: 16px;
	}
	
	.awesome-toptext hr {
		margin: 2vh 0;
	}
	
	.awesome-toptext h2 {
		font-size: 27px;
	}
}



@media (min-width: 1101px) {
	p {
        font-size: 18px;
        line-height: 23px;
    }
	
	.orange-line {
		margin: 5vh 0;
	}
	
    nav {
        align-items: center;
        justify-content: space-between;
        padding: 0.5% 10%;
        max-height: 20vh;
    }

    .nav-logo h2 {
        font-size: 35px;
    }

    .nav-ul {
        width: 45%;
    }

    .nav-ul ul {
        max-width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-ul {
        font-size: 1em;
    }

    header {
        height: 80vh;
        padding: 3% 7% 5% 7%;

    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 100%;
    }

    .header-leftsection {
        max-width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    header hr {
        width: 10%;
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
        height: 3px;
        box-shadow: 0 1px 2px #423F3FFF;
    }

    header h2 {
        font-size: 65px;
    }

    header h3 {
        font-size: 37px;
    }

    .header-leftsection button {
        border: 2px solid white;
        border-radius: 4px;
        width: 180px;
        max-width: 30%;
        height: 50px;
        max-height: 12vh;
        font-size: 18px;
    }

    .header-rightsection {
        height: 90%;
        width: 30%;
        background-color: white;
        border-radius: 5px;
    }

    .header-rightsection-text {
        width: 100%;
        border-radius: 5px 5px 0 0;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e1dfdf;
    }

    .header-rightsection h4 {
        color: black;
        font-size: 20px;
    }

    .header-rightsection form {
        width: 100%;
        height: 88%;
    }

    .header-rightsection-form {
        height: 87%;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-rightsection-form input {
        width: 86%;
        height: 15%;
        font-size: 19px;
        border: 0;
        border-bottom: 1px solid #e1dfdf;
        padding: 0 2%;
    }

    .header-rightsection-form input:focus {
        outline: none;
    }

    .header-rightsection-form input:focus::placeholder{
        opacity: 0;
        transition-duration: 0.5s;
    }

    .header-rightsection button {
        width: 100%;
        height: 14%;
        border-radius: 0 0 5px 5px;
        font-size: 18px;
    }
	
	.media h3, .tabs-section-text h3 {
		font-size: 25px;
	}
	
	.tabs-section-text button {
		border-radius: 4px;
        width: 150px;
        max-width: 28%;
        height: 50px;
        max-height: 12vh;
        font-size: 18px;
	}
	
	.sublist-section-content h3 {
		font-size: 25px;
		font-weight: 700;
	}
	
	.sublist-section-content-subtext {
		margin: 5vh 0;
	}
	
	.sublist-section-content-subtext h5 {
		font-size: 18px;
		margin-bottom: 6px;
	}
	
	.picture-section {
		min-height: 80vh;
	}
	
	.picture-section h3 {
		font-size: 25px;
	}
	
	.picture-section-content-text hr, .sublist-section-content-text hr,  {
		margin: 6vh 0;
	}
	
	.picture-section-content-text p {
		margin: 5vh 0;
	}
	
	.awesome-box h3 {
		margin: 2vh 0;
		font-size: 25px;
	}
	
	.awesome-toptext h2 {
		font-size: 35px;
	}
	
	.awesome-section hr {
		margin: 3vh 0;
	}
}